* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: inherit;
  vertical-align: baseline;
}

.superresponsive {
  padding: 5vh 0vh 0vh 0vh;
  background-image: url("./assets/Homepage/Slider/Slider_Homepage_1.png");
  background-size: cover;
  background-position: center;
  height: 30vh;
  position: relative;
}
.header-img{
  padding: 5vh 0vh 0vh 0vh;
  background-image: url("./assets/Homepage/Slider/Slider_Homepage_1.png");
  background-size: cover;
  background-position: center;
  height: 30vh;
}
.superresponsive img {
  margin: auto;
  display: block;
}

.centered-container {
  margin-top: 0vh;
}

.centered-logo {
  text-align: center;
}

.logoresponsive {
  width: 25% !important;
}

.titreresponsive {
  width: 55%;
  margin-left: 5%;
  padding-top: 3vh;


}
.blocconfiancedivDesktop{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:5%;
}
.bottom-link {
  position: absolute;
  margin-left: 5%;
  bottom: 0px;
  background-color: white;
  padding: 2% 2%;
  text-transform: uppercase;
  color: #257c9e;
  transition-duration: 0.3s;
  border: 1px solid white;
  cursor: pointer;
}

.licgu li {
  margin-top: 5vh;
}

.licgu span {
  font-weight: bold;
}
.textSavoir{
  margin-top: 10px;
  float: right;
  color:white;
  z-index: index;;
  }
/* 
.orangeresponsive div {
  background-color: #E2762A;
  margin: 0% 5% 0% 5%;
  padding: 5%;
  position: absolute;
  padding-bottom: 19vh;
}

.orangeresponsive div h2,
.orangeresponsive div p {
  margin-bottom: 3vh;
  color: white;
  line-height: 1.5;
  justify-self:last baseline;

}

.logoorangeresponsive {
  text-align: center;
 
  display: block;
  padding: 5% 5% 0% 5%;
  max-width: 100%;
  margin-top: -3;
}

.logoorangeresponsive1 {
  margin-bottom: 5vh;
  margin-top: 76vh;
}

.logoorangeresponsive1{
  position: relative;
}  */

.hrresponsive {
  background-color: #257c9e;
  height: 3px;
  margin-left: 5%;
  margin-top: 0%;
  width: 30%;
  border: none;
}

.titreettxtresponsive {
  background-color: #d6e5eb;
  margin-top: -67%;
  padding-top:50%;
position: inherit;
}

.titreettxtresponsive h3 {
  margin-left: 5%;
  padding-top: 5vh;
  color: #E2762A;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vh;
}

.titreettxtresponsive p {
  margin: 5% 5% 0% 5%;
  color: #257c9e;
  line-height: 1.5;
  padding-bottom: 5%;
}
.orangeresponsive div h2,
.orangeresponsive div p {
  margin-bottom: 3vh;
  color: white;
  line-height: 1.5;
  justify-self:last baseline;

}

/* Styles pour les écrans de grande taille */
.orangeresponsive div {
  background-color: #E2762A;
  margin: 0% 5% 0% 5%;
  padding: 5%;
  position: relative;
  color: white;
  padding-bottom: 19vh;
}

.titreettxtresponsive {
  background-color: #d6e5eb;
  margin-top: -67%;
  padding-top: 50%;
  position: relative;
  z-index: 2;
}

.logoorangeresponsive {
  text-align: center;
  display: block;
  padding: 5% 5% 0% 5%;
  max-width: 100%;
  
  z-index: 3;
}

/* Styles pour les écrans mobiles (max-width: 768px) */
@media screen and (min-width: 200px) and (max-width:2048px) {
  .orangeresponsive div {
    padding: 2%;
    padding-bottom: 10vh;
  }
  .titreettxtresponsive {
  
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 20px;
    padding-bottom: 0px;
    height: 100%;
 
  }
.titreettxtresponsive img{
margin: 0;
}
  #detail  img , .logoorangeresponsive img{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  
  }
  #detail{
    margin-top: -30vh;
    z-index: 3;
    position: relative;
    padding: 5% 5% 0% 5%;
  }
}


/* Ajoutez le reste de vos styles CSS ici */
#menuburger1 {
  width: 10px;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 26px;
  height: 20px;
  left: 5%;
  top: 40px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  width: 100% !important;
  margin-top: -5vh;
}

/* General sidebar styles */
.bm-menu {
  background: #007da2;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
}
.bm-item-list ul li {
  margin-top: 3vh;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.blocconfiance {
  padding: 5vh 0vh;
  background-color: #257c9e;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.blocconfiance h2 {
  width: 80%;
  text-align: center;
  margin: auto;
  line-height: 1.1;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.blocconfiancediv,blocconfiancedivDesktop {
  margin-top: 3vh;
}


.blocconfiancediv a img, .blocconfiancedivDesktop a img {
  max-width: 200px;
}
body {
  line-height: 1;
  font-family: "Gilroy-Light", Arial, sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer !important;
}

ul,
ol {
  list-style: none;
}

/* Importez la police Gilroy-Light */
@font-face {
  font-family: "Gilroy-Light";
  src: url("./assets/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./assets/fonts/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#header {
  z-index: 99;
  position: relative;
}
.container {
  max-width: 65%;
  margin: auto;
}

#home {
  background-image: url("./assets/Homepage/Slider/Slider_Homepage_1.png");
  background-size: cover;
  background-position: center;
  height: 85vh;
}

#home h1 {
  font-size: 50px;
  padding-top: 15vh;
  margin-bottom: 5vh;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: white;
}

p {
  text-align: justify;
}

.bleu {
  color: #257c9e;
}

.grisblanc {
  color: #ecf6fa;
}

.grisbleu {
  color: #d6e5eb;
}

.orange {
  color: #E2762A;
}

.cta {
  background-color: #E2762A;
  padding: 1% 2%;
  text-transform: uppercase;
  color: white;
  transition-duration: 0.3s;
  border: 1px solid #E2762A;
  cursor: pointer;
}

.cta:hover {
  background-color: white;
  color: #E2762A;
  border: 1px solid #257c9e;
}

.cta2 {
  background-color: white;
  padding: 1% 2%;
  text-transform: uppercase;
  color: #257c9e;
  transition-duration: 0.3s;
  border: 1px solid white;
  cursor: pointer;
}

.cta2:hover {
  background-color: white;
  color: #E2762A;
  border: 1px solid #257c9e;
}

#insuline {
  background-color: white;
}

#insuline div:first-child {
  margin-top: -5vh;
}

#insuline h2 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding-bottom: 4vh;
}

#insuline p {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-bottom: 4vh;
  line-height: 1.5; /* Augmentez la valeur pour obtenir plus d'espace entre les lignes */
}

#insuline a {
  float: right;
}

#resistance {
  background-color: #ecf6fa;
}

#resistance h2 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding-bottom: 4vh;
  color: #E2762A;
  line-height: 1.3;
  font-weight: normal;
}

#resistance p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-bottom: 4vh;
  line-height: 1.5;
  color: #257c9e;
  width: 80%;
}

#resistance {
  padding-top: 10vh;
}

#resistance .cta {
  padding: 1% 2%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#contact {
  background-color: white;
  margin: 5vh 0vh;
}

#contact h2 {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #E2762A;
  font-weight: normal;
  margin-bottom: 3vh;
}

#contact label {
  color: #257c9e;
}

#contact input,
#contact textarea {
  background-color: #d6e5eb;
  margin-top: 1vh;
}

#contact #envoyer {
  background-color: #E2762A;
  padding: 2% 4%;
  color: white;
  text-transform: uppercase;
  transition-duration: 0.3s;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#footer {
  background-color: #257c9e;
}

#footer section {
  margin: 5vh 0vh;
}

#footer a {
  color: white;
  padding-bottom: 1vh;
}

#footer li {
  padding-bottom: 1vh;
}

#notre-demarche {
  margin-top: -3vh;
  height: 20vh;
  background-image: url("./assets/Elements/HeaderBanner/Header_Banner_Inside_Page.svg");
  background-size: cover;
  background-position: center;
}

#notre-demarche h1,
#notre-demarche p,
#notre-demarche a {
  font-weight: normal;
}

#titre2 {
  font-size: 35px;
  color: #257c9e;
  text-align: left;
  margin-top: 5vh;
  display: block;
  text-transform: uppercase;
}

.topbanniere h1,
.topbanniere p {
  color: white;
}

.dispositif-medical {
  margin-top: 3vh;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-bottom: 4vh;
  line-height: 1.5;
  color: #007da2;
}

.dispositif-medical a {
  color: #E2762A;
}

.bgimg {
  background-color: #ecf6fa;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.bgblue {
  background-color: #d6e5eb;
}

#intervention {
  text-align: center;
  font-size: 35px;
  font-family: "Gilroy-Light", Arial, sans-serif;
  text-transform: uppercase;
  color: #0088c0;
  font-weight: normal;
  margin-bottom: 3vh;
  margin-top: 5vh;
}

#mapterritoire h3 {
  margin-top: 5vh;
}

#refpartenaire {
  text-align: left;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  padding-bottom: 4vh;
  color: #E2762A;
  line-height: 1.3;
  font-weight: normal;
}

#topbot {
  margin-top: 10vh;
}

.reftitre {
  margin-top: 10vh !important;
  margin-bottom: 5vh !important;
  display: block;
}

#territoire-orange {
  background-color: #E2762A;
  color: white;
  padding: 5vh 0vh;
  margin-top: 10vh;
}

#territoire-orange .container div {
  margin-top: 5vh;
  width: 90%;
}

#territoire-orange h3 {
  font-size: 35px;
}

#territoire-orange #imgsenegal {
  margin-top: -13vh;
}

#territoire-orange #imgsenegal img {
  width: 20%;
  color: red;
}

#politiquesante {
  margin-bottom: 5vh;
}

#politiquesante div h2 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #007da2;
  margin-top: 3vh;
}

#politiquesante div p {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-bottom: 4vh;
  color: #007da2;
  line-height: 1.5; /* Augmentez la valeur pour obtenir plus d'espace entre les lignes */
}

.cardpostuler {
  background-color: red;
  padding: 2% 3%;
  width: 100%;
}

/*  */

/* Pour les écrans de 1606 */
@media screen and (max-width: 1606px) {
  #resistance section {
    flex-direction: column-reverse !important;
  }
}
/* Pour les écrans de 1000px à 1700px */
@media screen and (max-width: 1700px) and (min-width: 1000px) {
  #resistance section {
    flex-direction: column-reverse;
  }

  #resistance img {
    margin-top: 10vh;
  }
}

/* Pour les écrans supérieurs à 1700px */
@media screen and (min-width: 1701px) {
  #resistance section {
    flex-direction: row !important;
  }

  #resistance img {
    /* Réinitialisez la marge en cas de besoin */
    margin-top: initial;
  }
}

@media screen and (max-width: 1000px) {
  .flex-columns {
    display: flex;
    flex-direction: column !important;
  }

  #home h1 {
    font-size: 26px !important; /* Augmentez la taille de la police */
    padding-top: 0vh !important; /* Augmentez la marge en haut */
    text-align: center;
    margin-bottom: 2vh !important;
  }

  header {
    margin-bottom: 5vh;
  }

  header section {
    display: flex;
    flex-direction: column; /* Modifier la direction de la disposition en colonne */
    align-items: center; /* Centrer les éléments horizontalement */
    padding: 30px;
    text-align: center;
  }

  header .cta {
    margin-top: 3vh;
  }

  .cta {
    display: ruby;
  }

  .cta2 {
    text-align: center !important;
    display: block !important;
    width: fit-content !important;
    margin: auto !important;
  }

  header ul {
    flex-direction: column;
    width: 80%;
    margin: auto;
  }
  header ul li {
    margin: 3%;
  }

  .container {
    max-width: 80%;
    flex-direction: column; /* Afficher les éléments en colonne */
  }

  /* Vous pouvez également ajuster d'autres styles si nécessaire */
  .container > div {
    flex: 1; /* Les div enfants prennent tout l'espace disponible */
  }

  .container > div:last-child {
    margin-bottom: 0; /* Supprimez l'espace sous le dernier élément */
  }

  #insuline img[alt="Insuline"] {
    margin: 5vh;
  }

  #insuline {
    margin-top: 5vh;
  }

  #insuline > div:nth-child(1) {
    margin-right: 0px !important;
  }
  #insuline div:first-child {
    margin-top: 5vh;
  }

  #resistance section {
    flex-direction: column-reverse !important;
  }

  #resistance h2 {
    margin-top: 10vh;
  }

  #resistance p {
    width: 100%;
  }

  #resistance img {
    width: 50%;
    margin: auto;
    display: block;
    margin-top: 10vh;
  }

  #footer > section > div {
    flex-direction: column !important;
  }

  div.footer-column:nth-child(1) > ul:nth-child(1) > li:nth-child(1),
  div.footer-column:nth-child(2) > ul:nth-child(1) > li:nth-child(1),
  div.footer-column:nth-child(3) > ul:nth-child(1) > li:nth-child(1) {
    margin-top: 5vh;
  }

  #titre2 {
    text-align: center;
  }
  html body div#root section.container div {
    flex-direction: column;
  }

  #territoire-orange #imgsenegal img {
    display: none;
  }
}
